:root{
  --name-card: 212121;
  --card-get: 30px;
  --nav-background-color: #ffffff;
  --logo-web-color: #2196f3;
  --logo-studio-header-color: #000000;
  --header-border-bottom-color: #ececec;
  --link-color: #212121;
  --hover-focus-color: #2196f3;
  --contact-menu-itam-color: #757575;
  --background-head-color: #2f303a;
  --contacts-end-color:rgba(255, 255, 255, 0.6);
  --text-shadow-logo: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --all-buttons-color:#f5f4fa;
  --title-box-boarder:1px solid #eeeeee;
}



/* top line bg */
.navigation {
  background: var(--nav-background-color);
  display: flex;
}
.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid var(--header-border-bottom-color);
}

.header-container{
  display: flex;
  align-items: center;
}

.sections{
  padding-top: 94px;
  padding-bottom: 94px;
}

/* end top line bg */

/* logo */
.logo-web {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--logo-web-color);
  text-shadow: var(--text-shadow-logo);
  margin-right: 93px;
  align-items: center;
}

.logo-studio-header {
  color: var(--logo-studio-header-color);
}

/* end logo */

.header {
  border-bottom: 1px solid var(--header-border-bottom-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

/*  navigation  */
.menu {
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child){
  margin-right: 50px;
}
.name-card {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--name-card);
}

.mail-link{
  margin-right: 50px;
}
.name-filter {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--contact-menu-itam-color);
}
.link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
.link:hover {
  color: var(--hover-focus-color);
}
.link:focus{
  color: var(--hover-focus-color);
}
.studio {
}
ul{
  padding: 0px;
  margin: 0px;
}

.contacts-menu {
  list-style: none;
  display: flex;
  padding-left: 331px;
}

.contacts-menu-item {
  font-size: 14px;
  font-weight: 500;
  color: var(--contact-menu-itam-color);
  text-decoration: none;
}
.contacts-menu-item:hover {
  color: var(--logo-web-color);
}
/*  end navigation  */

  body {
    font-family: Roboto;
    margin: 0px;
  }
/* buttons  */

.filter-button {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
 margin-left: 280px;
 margin-bottom: 50px;
}
.all-buttons {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--all-buttons-color);
  border-radius: 4px;
  color: var(--link-color);
  border: none;
  padding:6px 22px;
}

.button-option:not(:last-child){
  margin-right: 8px;
}


.all-buttons:hover {
  color: var(--nav-background-color);
  background: var(--logo-web-color);
  cursor: pointer;
}
.web-site-button {
  border: none;
  background: var(--all-buttons-color);
  border-radius: 4px;
  margin-left: 8px;
}
.web-site-button:hover {
  color: var(--nav-background-color);
  background: var(--logo-web-color);
  cursor: pointer;
}
.app-button {
  border: none;

  background: var(--all-buttons-color);
  border-radius: 4px;
  margin-left: 8px;
}
.app-button:hover {
  color: var(--nav-background-color);
  background: var(--logo-web-color);
  cursor: pointer;
}
.desing-button {
  border: none;

  background: var(--all-buttons-color);
  border-radius: 4px;
}
.desing-button:hover {
  color: var(--nav-background-color);
  background: var(--logo-web-color);
  cursor: pointer;
}
.marketing-button {
  border: none;

  background: var(--all-buttons-color);
}
.marketing-button:hover {
  color: var(--nav-background-color);
  background: var(--logo-web-color);
  cursor: pointer;
}

/*  end buttons  */

/*  text properties  */

/*  end text properties  */

/*  projects   */
.card{
  Width: 370px;
Height: 404px;
margin: 0px;
padding: 0px;
}



img {
  display: block;
  max-width: 100%;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-top: calc( -1 * var(--card-get));
  margin-left: calc( -1 * var(--card-get));

}

.list-item {
  flex-basis: calc(100% / 3 - var(--card-get));
  margin-top: var(--card-get);
  margin-left: var(--card-get);

  }
  
.title-box{
padding: 10px 24px;
background: var(--nav-background-color);
border-right: var(--title-box-boarder);
border-left: var(--title-box-boarder);
border-bottom: var(--title-box-boarder);

}

/*  end projects  */

/*  footer  */
.back {
  background: var(--background-head-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.end-logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--logo-web-color);
}
.logo-studio {
  color: var(--nav-background-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.contact {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--nav-background-color);
  margin: 0px;
  padding: 0px;
}
.contacts-end {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: var(--contacts-end-color);
  text-decoration: none;
}
.contacts-end-mail {
}
.contacts-end-tel {
}

.superscription {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--nav-background-color);
  text-decoration: none;
}
/*  end footer  */


.address{
  margin-top: 20px;
}