:root{
  --nav-background-color: #ffffff;
  --logo-web-color: #2196f3;
  --logo-studio-header-color: #000000;
  --header-border-bottom-color: #ececec;
  --link-color: #212121;
  --hover-focus-color: #2196f3;
  --contact-menu-itam-color: #757575;
  --background-head-color: #2f303a;
  --our-team-bloc-background-color: #f5f4fa;
  --contacts-end-color:rgba(255, 255, 255, 0.6);
  --text-shadow-logo: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --team-card-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
}



/* top line bg */
.navigation {
  background: var(--nav-background-color);
  display: flex;
  align-items: center;
}
/* end top line bg */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.sections {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* logo */
.logo-web {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--logo-web-color);
  text-shadow: var(--text-shadow-logo);
  margin-right: 93px;
}

.logo-studio-header {
  color: var(--logo-studio-header-color);
}

/* end logo */

.header {
  border-bottom: 1px solid var(--header-border-bottom-color);
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-container {
  display: flex;
  align-items: center;
}

/*  navigation  */
.menu {
  font-family: Roboto;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
.link:hover {
  color: var(--hover-focus-color);
}
.link:focus {
  color: var(--hover-focus-color);
}

.portpholio {
}
.contaccts {
}
.contacts-menu {
  list-style: none;
  display: flex;
 margin-left: auto;
}

.menu-item-contact:not(:last-child) {
  margin-right: 50px;
}

.contacts-menu-item {
  font-size: 14px;
  font-weight: 500;
  color: var(--contact-menu-itam-color);
  text-decoration: none;
}
.contacts-menu-item:hover {
  color: var(--hover-focus-color);
}
.contacts-menu-item:focus {
  color: var(--hover-focus-color);
}

/*  end navigation  */

/*  hero  */
.background-head {
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--background-head-color);
}
.effect {
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--nav-background-color);
  text-align: center;
}

button {
  margin: auto 500px;
  width: 200px;
  height: 50px;
}
.model-btn {
  margin-top: 30px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  font-family: inherit;
  color: var(--nav-background-color);
  background-color: var(--hover-focus-color);
  border: none;
  cursor: pointer;
}
.model-btn:hover {
}

/*  end hero  */

/*  our specifics  */

.spacifics-lict-items {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}
.item-list {
  width: 270px;
}

.item-list:not(:last-child) {
  margin-right: 30px;
}

.specific-item{
  margin: 0px;
  padding: 0px;
}

.specific-description {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--contact-menu-itam-color);
}
body {
  font-family: Roboto;
  margin: 0px;
}
ul{
  padding: 0px;
  margin: 0px;
}

/*  end our specifics  */

/*  gallery  */
.gallery {
  margin: 0px;
  padding: 0px;
  padding-bottom: 94px;
}
.images {
}
.what-we-do {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: Roboto;
  font-weight: 700;
  color: var(--link-color);
  margin-bottom: 50px;
  margin-top: 0px;
  margin-bottom: 50px;
}
.images-item {
  list-style: none;
  display: flex;
}

.images:not(:last-child) {
  margin-right: 30px;
}

img{
  display:block;
  max-width: 100%;
}


/*  end gallery  */

/*  our team  */

.our-team {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: Roboto;
  weight: 700;
  color: var(--link-color);
  margin: 0px;
  margin-bottom: 50px;
}

.our-team-bloc {
  background: var(--our-team-bloc-background-color);
}
.team-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}

.team-card {
  background: var(--nav-background-color);
  box-shadow: var(--team-card-box-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-imagies {
  width: 270px;
  height: 260px;
}
.name-worker {
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 10px;
  color: var(--link-color);
}

.name-working {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
  color: var(--contact-menu-itam-color);
}
.worker-bloc{
  padding-top: 30px;
  padding-bottom: 30px;
}
/*  end our team  */

/*  footer  */



.back {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--background-head-color);
}


.address{
  margin-top: 20px;
}

.end-logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--logo-web-color);
  margin-bottom: 20px;
}
.logo-studio {
  color: var(--nav-background-color);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.contact {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--nav-background-color);
  margin: 0px;
  padding: 0px;
}
.contacts-end {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: var(--contacts-end-color);
  text-decoration: none;
}
.contacts-end-mail {
}
.contacts-end-tel {
}

.superscription {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--nav-background-color);
  text-decoration: none;
}

/*  end footer  */
